@charset "UTF-8";
table, td{
    border: 2px solid red;
    border-collapse: collapse;
}
table {
    width: 200px;
}
td{
    text-align: center;
}
input#button{
    width: 50px;
}
#result{
    text-align: end;
    width: 95%;
}